.input {
    margin: 10px;
    height: 35px;
    width: 350px;
    font-size: 24px;

}

.selector-group {
    list-style: none;
    padding-left: 0;
}

.selector-group li {
    display: inline-block;
}

.selector-group select {
    height: 35px;
    width: 250px;
    font-size: 24px;
    margin: 10px;
}

.form-button-style {
    color: white;
    background: #007dd4;
    border: 0;
    font-size: 18px;
}

.revert-button {
    height: 40px;
    width: 40px;
    font-size: 18px;
}

.add-button {
    position: relative;
    width: 120px;
    height: 40px;
}
