.history-list {
    position: relative;
    width: 70%;
    padding: 0 10px;
}

.history-header {
    margin: 10px;
    font-weight: bold;
    font-size: 20px;
}

.history-element {
    position: inherit;
    margin: 5px;
    width: 100%;
    height: 20px;
}

.hide-button {
    margin: 5px;
    position: absolute;
    right: 20px;
    top: 3px;
    width: 100px;
    height: 20px;
    border: 0;
    font-size: 18px;
}

.result {
    position: relative;
    display: inline-block;
    left: 20%;
    text-align: center;
}

.control-element-style {
    border: 0;
    margin: 2px;
}

.load-button {
    background: lightgreen;
    color: white;
}

.delete-button {
    background: lightcoral;
    color: white;
}

.control-element {
    position: absolute;
    right: 25px;
}

